Clasificacion Leads VIP.blueprint.json
{
    "name": "Clasificacion Leads VIP",
    "flow": [
        {
            "id": 2,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "app2lj3Yl5RhMsa3v",
                "table": "tblLqJPQViqS0SOD7",
                "config": {
                    "labelField": "Nombre",
                    "triggerField": "Fecha_creacion"
                },
                "formula": "{Estado} = \"Nuevo\"",
                "maxRecords": 10,
                "__IMTCONN__": 9816875,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Ecosistema Leads VIP"
                        },
                        "table": {
                            "label": "Leads"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Nombre"
                                },
                                "triggerField": {
                                    "label": "Fecha_creacion"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Nombre",
                        "type": "text",
                        "label": "Nombre"
                    },
                    {
                        "name": "Mensaje",
                        "type": "text",
                        "label": "Mensaje",
                        "multiline": true
                    },
                    {
                        "name": "Empresa",
                        "type": "text",
                        "label": "Empresa"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Presupuesto",
                        "type": "number",
                        "label": "Presupuesto"
                    },
                    {
                        "name": "Estado",
                        "type": "text",
                        "label": "Estado"
                    },
                    {
                        "name": "Score_IA",
                        "type": "number",
                        "label": "Score_IA"
                    },
                    {
                        "name": "Clasificación_IA",
                        "type": "text",
                        "label": "Clasificación_IA"
                    },
                    {
                        "name": "Aprobado",
                        "type": "boolean",
                        "label": "Aprobado"
                    },
                    {
                        "name": "Borrador:Email",
                        "type": "text",
                        "label": "Borrador:Email",
                        "multiline": true
                    },
                    {
                        "name": "Revisor",
                        "type": "text",
                        "label": "Revisor"
                    },
                    {
                        "name": "Fecha_Contacto",
                        "time": true,
                        "type": "date",
                        "label": "Fecha_Contacto"
                    },
                    {
                        "name": "Fecha_creacion",
                        "type": "date",
                        "label": "Fecha_creacion"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 9815260
            },
            "mapper": {
                "base": "app2lj3Yl5RhMsa3v",
                "table": "tblScz9NK78mNbmnC",
                "formula": "{Activo} = 1",
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Ecosistema Leads VIP"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Criterios_RAG"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usrsgnJqUFrpj5Rb2)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Categoria",
                        "type": "text",
                        "label": "Categoria"
                    },
                    {
                        "name": "Criterio",
                        "type": "text",
                        "label": "Criterio",
                        "multiline": true
                    },
                    {
                        "name": "Peso",
                        "type": "text",
                        "label": "Peso"
                    },
                    {
                        "name": "Activo",
                        "type": "boolean",
                        "label": "Activo"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": ""
            },
            "mapper": {
                "url": "https://api.anthropic.com/v1/messages",
                "method": "post",
                "headers": [
                    {
                        "name": "anthropic-version",
                        "value": "2023-06-01"
                    },
                    {
                        "name": "content_type",
                        "value": "application/json"
                    },
                    {
                        "name": "x-api-key",
                        "value": "sk-ant-REEMPLAZAR_CON_TU_KEY"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "jsonString",
                "jsonStringBodyContent": "{\"model\":\"claude-haiku-4-5-20251001\",\"max_tokens\":500,\"messages\":[{\"role\":\"user\",\"content\":\"Clasifica este lead como VIP, Potencial o Descartar.\\n\\nDatos del lead:\\nNombre: {{2.Nombre}}\\nEmpresa: {{2.Empresa}}\\nPresupuesto: {{2.Presupuesto}}\\nMensaje: {{2.Mensaje}}\\n\\nResponde ONLY with a raw JSON object. No markdown, no backticks, no code blocks. Just the JSON.:\\n{\\\"clasificacion\\\": \\\"VIP|Potencial|Descartar\\\", \\\"score\\\": 0, \\\"razon\\\": \\\"max 2 oraciones\\\", \\\"borrador_email\\\": \\\"email corto personalizado al lead\\\"}\"}]}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            },
            "onerror": [
                {
                    "id": 7,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "parameters": {},
                    "mapper": {},
                    "metadata": {
                        "designer": {
                            "x": 601,
                            "y": -225
                        },
                        "restore": {}
                    }
                }
            ]
        },
        {
            "id": 11,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 422539
            },
            "mapper": {
                "json": "{{6.data.content[].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 986,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Claude Response"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "clasificacion",
                        "type": "text",
                        "label": "Clasificacion",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "score",
                        "type": "number",
                        "label": "Score",
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "razon",
                        "type": "text",
                        "label": "Razon",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "borrador_email",
                        "type": "text",
                        "label": "Borrador email",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1286,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9676523
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{11.clasificacion}}",
                                            "o": "text:equal",
                                            "b": "VIP"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "sebaslrios@gmail.com"
                                ],
                                "subject": "[APROBACIÓN REQUERIDA] Lead VIP: {{2.Nombre}} - {{2.Empresa}}",
                                "bodyType": "rawHtml",
                                "content": "Nuevo lead clasificado como VIP por IA.\n\nNombre: {{2.Nombre}}\nEmpresa: {{2.Empresa}}\nPresupuesto: {{2.Presupuesto}}\nScore IA: {{11.score}}\nRazón: {{11.razon}}\n\nBorrador email sugerido:\n{{11.borrador_email}}\n\n¿Aprobás el envío? Respondé este email con SI o NO."
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1586,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Gmail connection (sebaslrios@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "CC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "BCC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "type": "array",
                                        "label": "Additional email headers",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9815260
                            },
                            "mapper": {
                                "base": "app2lj3Yl5RhMsa3v",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tblLqJPQViqS0SOD7",
                                "id": "{{2.id}}",
                                "record": {
                                    "fld8eKygmAUMmaZDA": "Procesado",
                                    "fldGdCK3m9yaeWj9F": "{{11.score}}",
                                    "fld8ttRQ2428Ser7Z": "{{11.clasificacion}}",
                                    "fldkNafAEyOZmsvx0": "{{11.borrador_email}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1884,
                                    "y": -143
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Airtable OAuth connection (User ID: usrsgnJqUFrpj5Rb2)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "Ecosistema Leads VIP"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "Leads"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld8eKygmAUMmaZDA": {
                                                    "mode": "edit"
                                                },
                                                "fld8ttRQ2428Ser7Z": {
                                                    "mode": "edit"
                                                },
                                                "fldZ8kNaLCs5EKcrB": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fldkpWBb2pWqgLAHW",
                                                "type": "text",
                                                "label": "Nombre"
                                            },
                                            {
                                                "name": "fldTs9sBC60Q5V2gt",
                                                "type": "text",
                                                "label": "Mensaje"
                                            },
                                            {
                                                "name": "fldbvhoKIthihZfac",
                                                "type": "text",
                                                "label": "Empresa"
                                            },
                                            {
                                                "name": "fld5GqD01184yLihd",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldG5UFtGmAbvGobI",
                                                "type": "number",
                                                "label": "Presupuesto"
                                            },
                                            {
                                                "name": "fld8eKygmAUMmaZDA",
                                                "type": "select",
                                                "label": "Estado",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fldGdCK3m9yaeWj9F",
                                                "type": "number",
                                                "label": "Score_IA"
                                            },
                                            {
                                                "name": "fld8ttRQ2428Ser7Z",
                                                "type": "select",
                                                "label": "Clasificación_IA",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fldZ8kNaLCs5EKcrB",
                                                "type": "boolean",
                                                "label": "Aprobado"
                                            },
                                            {
                                                "name": "fldkNafAEyOZmsvx0",
                                                "type": "text",
                                                "label": "Borrador:Email"
                                            },
                                            {
                                                "name": "fldvznY4JkRnLP54l",
                                                "type": "text",
                                                "label": "Revisor"
                                            },
                                            {
                                                "name": "fld3WDYUtXwLJr9zf",
                                                "type": "date",
                                                "label": "Fecha_Contacto",
                                                "time": true
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Nombre",
                                        "label": "Nombre",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Mensaje",
                                        "label": "Mensaje",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Empresa",
                                        "label": "Empresa",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Email",
                                        "label": "Email",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Presupuesto",
                                        "label": "Presupuesto",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Estado",
                                        "label": "Estado",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Score_IA",
                                        "label": "Score_IA",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Clasificación_IA",
                                        "label": "Clasificación_IA",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Aprobado",
                                        "label": "Aprobado",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "Borrador:Email",
                                        "label": "Borrador:Email",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Revisor",
                                        "label": "Revisor",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Fecha_Contacto",
                                        "label": "Fecha_Contacto",
                                        "type": "date",
                                        "time": true
                                    },
                                    {
                                        "name": "Fecha_creacion",
                                        "label": "Fecha_creacion",
                                        "type": "date"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 21,
                            "module": "placeholder:Placeholder",
                            "filter": null,
                            "metadata": {
                                "designer": {
                                    "x": 1586,
                                    "y": 150
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}